body
{
background-color:#abcdef
}

h1,
{
font-family:Georgia;
color:#ffffff
}

p
{
 font-size:20px;
 font-family: Georgia;
}

section
{
 background-color:ffffff;
 font-family:Georgia;
 padding:1px;
 color:#edcfga;
}

footer
{
 background-color:#0000ff;
 padding:0,5px;
 font-family:Georgia;
 color:#ffffff;
 text-align:center;
}

img, video
{
align-content:center;
max-widht:200%;
}

nav 
{
background-color:#0000ff;
height:30px;
font-family:Georgia;
font-weight: bold;
}

nav ul
{
heigth:auto;
margin:0px;
padding:2px 0px;
}

nav li
{
display:inline;
padding:10px;
margin:0px;
}

nav a 
{
text-decoration:none;
color:#FFFFFF;
padding:8px 8px 8px 8px;
}

nav a:hover
{
background-color:#FFFFFF;
color:#000055;
}

@media all and (min-width:1024px)
{
body
{
width:1024px;
margin:auto;
}
}

@media all and (max-width:640px)
{
nav
{
height:100%;
}
nav li 
{
display:block;
padding:10px;
margin:0px;
}

}